@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Press Start 2P', cursive;
}
#board, .boardInfo{
    max-width: 500px;
}
#board{
    /* position: relative; */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
#start, .boardInfo{
    font-size: 25px;
}
#gameOver{
    position: absolute;
    top:0;
    left: -10; 
    z-index: -100;
    display: none;
}

#scoreBoard{
    display: inline-flex;
}
.square{
    aspect-ratio: 1;
}
.emptySquare{
    background-color: #456990;
}
.snakeSquare{
    background-color: #CCf47f;
}
.foodSquare{
    background-color: #f35a69;
}
.nes-container{
    height: 98vh;
}
.social-media{
    position: absolute;
    top: 10px;
    right: 10px;
}
.main-sections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}
.section-one{
    display: flex;
    align-items: center;
}
.section-three{
    
    display: flex;
}
.boardInfo{
    display: flex;
    align-items: center;
}
#start{
    align-self: flex-end;
}